    {% if status is same as 0 %}
        <span class="badge bg-light text-dark">Brouillon</span>
    {% elseif status is same as 1 %}
        <span class="badge bg-success">publi&eacute;</span>
    {% elseif status is same as 2 %}
        <span class="badge bg-warning">Retiré</span>
    {% endif %}