    {% if status is same as 0 %}
        <span class="badge bg-secondary">Brouillon</span>
    {% elseif status is same as 1 %}
        <span class="badge bg-primary">En ligne</span>
    {% elseif status is same as 2 %}
        <span class="badge bg-dark">Retiré</span>
    {% endif %}