{% extends 'base.html.twig' %}

    {% block title %}Accueil | Eco Friendly{% endblock %}
    
    {% block body %}
        
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Accueil administrateur</h1>
        </div>
        
  <div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-sm-3 bg-light">
        <h3>Current User Info</h3>
        <p>User Name: John Doe</p>
        <p>User Email: john.doe@example.com</p>
      </div>
      <!-- Main Content -->
      <div class="col-sm-9">
        <div class="row">
          <!-- Table 1 -->
          <div class="col-sm-6">
            <h4>Table 1</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Item 1</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>Item 2</td>
                  <td>$20</td>
                </tr>
                <tr>
                  <td>Item 3</td>
                  <td>$30</td>
                </tr>
                <tr>
                  <td>Item 4</td>
                  <td>$40</td>
                </tr>
                <tr>
                  <td>Item 5</td>
                  <td>$50</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Table 2 -->
          <div class="col-sm-6">
            <h4>Table 2</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Item 1</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td>Item 2</td>
                  <td>$20</td>
                </tr>
                <tr>
                  <td>Item 3</td>
                  <td>$30</td>
                </tr>
                <tr>
                  <td>Item 4</td>
                  <td>$40</td>
                </tr>
                <tr>
                  <td>Item 5</td>
                  <td>$50</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <!-- Table 3 -->
          <div class="col-sm-6">
            <h4>Table 3</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Item Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Item 1</td>
                  <td>$10</td>
                  <tr>
                    <td>Item 2</td>
                    <td>$20</td>
                  </tr>
                  <tr>
                    <td>Item 3</td>
                    <td>$30</td>
                  </tr>
                  <tr>
                    <td>Item 4</td>
                    <td>$40</td>
                  </tr>
                  <tr>
                    <td>Item 5</td>
                    <td>$50</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table 4 -->
            <div class="col-sm-6">
              <h4>Table 4</h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Item 1</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Item 2</td>
                    <td>$20</td>
                  </tr>
                  <tr>
                    <td>Item 3</td>
                    <td>$30</td>
                  </tr>
                  <tr>
                    <td>Item 4</td>
                    <td>$40</td>
                  </tr>
                  <tr>
                    <td>Item 5</td>
                    <td>$50</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
      

        {% endblock %}