{% extends 'base.html.twig' %}

{% block title %}Accueil | Eco Friendly{% endblock %}

{% block body %}
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Accueil administrateur</h1>
    </div>
    
      <!-- Left Sidebar -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 bg-light">
            <h4>User Info</h4>
            <p>Name: John Doe</p>
            <p>Email: johndoe@example.com</p>
          </div>
    
          <!-- Main Content -->
          <div class="col-md-9">
            <div class="row">
              <!-- Card 1 -->
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    
              <!-- Card 2 -->
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    
              <!-- Card 3 -->
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    
              <!-- Card 4 -->
              <div class="col-md-4 mb-4">
                <div class="card">
                  <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card Title 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
    </div>
    </div>
    

    {% endblock %}