{% extends 'base.html.twig' %}

{% block title %}Modifier un conseil{% endblock %}

{% block body %}
    <h1>Modifier un conseil</h1>

    {{ include('advice/_form.html.twig', {'button_label': 'Modifier ce conseil'}) }}
    <div class="d-flex justify-content-between">
    <a href="{{ path('app_backoffice_advices_list') }}">Retour à la liste</a>
    <a href="{{ path('app_backoffice_advices_edit', {'id': advice.id}) }}" class="btn btn-success mx-auto">Valider</a>
    </div>
    {{ include('advice/_form.html.twig') }}
{% endblock %}
