{% extends 'base.html.twig' %}

{% block title %}Modifier un conseil{% endblock %}

{% block body %}
    <h1>Modifier un conseil</h1>

    {{ include('advice/_form.html.twig', {'button_label': 'Modifier ce conseil'}) }}

    <a href="{{ path('app_backoffice_advices_list') }}">Retour à la liste des conseils</a>

    {{ include('advice/_delete_form.html.twig') }}
{% endblock %}
