{% extends 'base.html.twig' %}

{% block title %}Créer un conseil{% endblock %}

{% block body %}
    <h1>Créer un conseil</h1>

    {{ include('advice/_form.html.twig') }}

    <a href="{{ path('app_backoffice_advices_list') }}">retour à la liste des conseils</a>
{% endblock %}
