{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_backoffice_articles_list') }}">Retour à la liste</a>
{% endblock %}
