{% extends 'base.html.twig' %}

{% block title %}Créer un Article{% endblock %}

{% block body %}
    <h1>Créer un Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_backoffice_articles_list') }}">Retour à la liste</a>
{% endblock %}
