{% extends 'base.html.twig' %}

{% block title %}Créer votre profil d'auteur | Eco-Friendly
{% endblock %}

{% block body %}

    {% include "_fragments/_flash_message.html.twig" %}

    <div class="container-fluid col-12 col-lg-8 mx-auto">
        <h1>
            Créer votre profil d'auteur
        </h1>
        <div class="row mb-3">
            {{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
        </div>
    </div>

{% endblock %}