{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<h1>Create new User</h1>

	{{ include('user/_form.html.twig') }}

<<<<<<< HEAD
	<a href="{{ path('app_user_list') }}">back to list</a>
=======
    <a href="{{ path('app_user_list') }}">back to list</a>
>>>>>>> 99b17d72868e8b2779e6edce7cf6a55796ef92bb
{% endblock %}
