{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block body %}
	<h1>Créer un nouvel utilisateur</h1>

	{{ include('user/_form.html.twig') }}

<<<<<<< HEAD
<<<<<<< HEAD
    <a href="{{ path('app_backoffice_users_list') }}">Retour à la liste</a>
=======
    <a href="{{ path('app_backoffice_users_list') }}">back to list</a>
>>>>>>> FIX: Route show user
=======
    <a href="{{ path('app_backoffice_users_list') }}">Retour à la liste</a>
>>>>>>> c3b7c9e2b232ba2b63e327a802af86ad5c732c78
{% endblock %}
